In [1]:
sample_date_str = '2021-09-01'

In [2]:
''.join(list(map(lambda part: '/'+part, sample_date_str.split('-'))))

In [3]:
# construct folder path
folder_path = '/Users/muqtafiakhmad/Desktop/credit/credit-data-ingestion/sample'+''.join(list(map(lambda part: '/'+part, sample_date_str.split('-'))))
folder_path

'/Users/muqtafiakhmad/Desktop/credit/credit-data-ingestion/sample/2021/09/01'

In [4]:
# get file list
from os import listdir
from os.path import isfile, join

file_list = [join(folder_path, f) for f in listdir(folder_path) if isfile(join(folder_path, f))]
file_list

['/Users/muqtafiakhmad/Desktop/credit/credit-data-ingestion/sample/2021/09/01/sample_data.csv']

In [5]:
# construct pd from file list
import pandas as pd

df_list = list(map(lambda file_name: pd.read_csv(file_name), file_list))

df = pd.concat(df_list)

In [6]:
df.columns

Index(['Unnamed: 0', 'SeriousDlqin2yrs',
       'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

In [7]:
# rename columns
df.rename(columns={'Unnamed: 0':'No'}, inplace=True)

In [8]:
df.rename(columns={'age':'Age'}, inplace=True)

In [9]:
df.head()

,No,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,Age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [10]:
# check types
# somehow NumberOfDependents is float
df.dtypes

No                                        int64
SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
Age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object

In [11]:
# convert NumberOfDependents to int
# erros = ignore to skip NaN values
df['NumberOfDependents'] = df['NumberOfDependents'].astype('int64', errors='ignore')

In [12]:
# check simple descriptive stats
df.describe()

,No,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,Age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,75000.500000,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,43301.414527,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,75000.500000,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,112500.250000,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,150000.000000,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [13]:
# check none values
df.isna().sum()

No                                          0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
Age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [14]:
#add Date
df['InsertDate'] = pd.to_datetime(sample_date_str)

In [15]:
# rename column before insert to db
df.rename(columns={
    'NumberOfTime30-59DaysPastDueNotWorse':'NumberOfTime30To59DaysPastDueNotWorse',
    'NumberOfTime60-89DaysPastDueNotWorse':'NumberOfTime60To89DaysPastDueNotWorse'
}, inplace=True)

In [16]:
df.dtypes

No                                                int64
SeriousDlqin2yrs                                  int64
RevolvingUtilizationOfUnsecuredLines            float64
Age                                               int64
NumberOfTime30To59DaysPastDueNotWorse             int64
DebtRatio                                       float64
MonthlyIncome                                   float64
NumberOfOpenCreditLinesAndLoans                   int64
NumberOfTimes90DaysLate                           int64
NumberRealEstateLoansOrLines                      int64
NumberOfTime60To89DaysPastDueNotWorse             int64
NumberOfDependents                              float64
InsertDate                               datetime64[ns]
dtype: object

In [17]:
# construct connection to mysql
connection_string = 'mysql+mysqlconnector://{user}:{password}@{host}/{dbname}'.format(
    user='root',
    password='root',
    host='localhost',
    dbname='credit'
)

connection_string

'mysql+mysqlconnector://root:root@localhost/credit'

In [18]:
from sqlalchemy import create_engine

engine = create_engine(connection_string)

In [19]:
# delete previously inserted data (if any)
connection = engine.connect()
connection.execute("""
    DELETE FROM credit.loan_application WHERE InsertDate = '{}'
""".format(sample_date_str))

In [20]:
# try to insert data
df.to_sql('loan_application', engine, if_exists='append', index=False)